{% extends 'base.html' %}

{% block title %}
Category List
{% endblock title %}
{% block content %}
<nav>
    <li>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_account' %}">Create Account</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'category_list' %}">Category List</a>
        <a href="{% url 'home' %}">Home</a>
    </li>
</nav>
<main>
    <h1> Account List </h1>
    <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Number of receipts </th>
                <th> Number </th>
            </tr>
        </thead>
        <tbody>
            {% for accounts in accounts %}
            <tr>
                <th> {{ accounts.name }}</th>
                <th> {{ accounts.receipts.count }}</th>
                <th> {{ accounts.number }} </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
