{% extends 'base.html' %}

{% block title %}
Category List
{% endblock title %}
{% block content %}
<nav>
    <li>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_account' %}">Create Account</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'account_list' %}">Account List</a>
        <a href="{% url 'home' %}">Home</a>
    </li>
</nav>
<main>
    <h1> Category List </h1>
    <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Number of receipts </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th> {{ category.name }}</th>
                <th> {{ category.receipts.count }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
