{% extends 'base.html' %}

{% block title %}
Account Creation
{% endblock title %}
{% block content %}
<nav>
    <li>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'category_list' %}">Category List</a>
        <a href="{% url 'account_list' %}">Account List</a>
        <a href="{% url 'home' %}">Home</a>
    </li>
</nav>
<main>
    <div>
        <h1> Create Account </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
